nav {
	background-color: #FFAE0D;
    max-height: 10%;
    width: 100%;
}

body {
	height: 100%;
	background-color: #FFF6E3;
}

html {
    height: 100%;
}

/*
http://paletton.com/#uid=30X0n0kunGG3vTQjSHJK9s-SWix
*/
