
body {
	background-color: white;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#menu {
	border-radius: 15px;
    margin: auto;
	padding: 5%;
	width: 500px;
	height: 300px;
	margin: auto;
	line-height:27px;
	background-color: rgb(32, 127, 7, 0.9);
	border: solid black 2px;
}

#menu * {
	width: 350px;
	margin: auto;
	z-index: 50;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: grey;
    border: solid black 1px;
	width: 100%;
}

footer * {
    font-size: 10px;
    margin: 0;
    text-align: center;
}
