#filtres {
    margin: 10px;
}

#principal {
	background-color: #D1E3EA;
	border: solid 1px black;
	padding: 15px;
    height:100%;
    overflow-y:scroll;
}

#containerPrincipal {
    height: 80%;
}

.instrument {
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    height: 200px;
}

.instrument:not(:first-child,:last-child) {
    padding-right:7px;
    padding-left:7px;
}

.form-group {
    width: 200px;
}

.img-fluid {
    max-width: 150px;
    height: auto;
}

.container {
    height: 100%;
}
